header {
  background-color: #086ab5;
}

header.show {
  background-color: rgba(0, 95, 167, 0.8);
}

.page-content {
  overflow: hidden;
}

.page-head {
  background-image: url("../img/Pv=1_page-head-back.png");
  background-size: 100% 468px;
  height: 468px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  margin-top: 60px;
  padding-top: 160px;
  z-index: 2;
  position: relative;
}

.page-head h1 {
  font-family: 'Amiri', serif;
  max-width: 1280px;
  width: auto;
  margin: auto;
  margin-bottom: 8px;
  padding: 0 140px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 56px;
  letter-spacing: 0.12em;
  position: relative;
  color: #656565;
  z-index: 2;
}

.page-head h1 span {
  color: #0082C3;
}

.page-head h1:after {
  content: "";
  position: absolute;
  width: 125px;
  left: 0;
  top: 44%;
  height: 1px;
  background-color: #0082C3;
}

@media screen and (min-width: 1280px) {
  .page-head h1:after {
    width: calc(50vw - 515px);
    left: calc(640px - 50vw);
  }
}

.page-head .head-sub {
  max-width: 1280px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: auto;
  margin: auto;
  font-size: 15px;
  padding: 0 140px;
  position: relative;
  z-index: 2;
  display: block;
  font-weight: 500;
}

.page-head .title-circle {
  position: absolute;
  width: 394px;
  left: 0;
  top: 0;
  z-index: 1;
}

@media screen and (max-width: 1000px) {
  .page-head {
    height: 364px;
    background-size: 100% 364px;
    padding-top: 100px;
  }
  .page-head h1 {
    padding: 0 40px;
    font-size: 40px;
  }
  .page-head h1:after {
    width: 32px;
    left: 0;
    top: 44%;
  }
  .page-head .head-sub {
    padding: 0 40px;
  }
  .page-head .title-circle {
    position: absolute;
    width: 157px;
    left: 0;
    top: 20px;
  }
}

@media screen and (max-width: 767px) {
  .page-head {
    background-image: url("../img/Pv=1_page-head-back-sp.png");
    background-size: 100% 194px;
    height: 194px;
    margin-top: 50px;
    padding-top: 80px;
  }
  .page-head h1 {
    padding: 0 20px;
    font-size: 30px;
  }
  .page-head h1:after {
    display: none;
  }
  .page-head .head-sub {
    font-size: 14px;
    padding: 0 20px;
  }
  .page-head .title-circle {
    position: absolute;
    width: 157px;
    left: 0;
    top: 20px;
  }
}

.section-head {
  margin-bottom: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.section-head h2 {
  font-family: 'Amiri', serif;
  font-size: 38px;
  letter-spacing: 0.08em;
  color: #0082C3;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.section-head span {
  color: #696A6B;
  font-size: 15px;
  font-weight: 500;
}

.section-head_r {
  text-align: right;
}

.service-insurance {
  background-image: url("../img/service-back.jpg");
  background-position: top right;
  background-size: 760px;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  margin-top: -210px;
  margin-bottom: 160px;
  padding-top: 300px;
}

.insurance-content {
  width: auto;
  max-width: 1280px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  padding: 0 140px;
}

.insurance-text {
  font-size: 16px;
  line-height: 33px;
}

.others-shape img {
  width: 100vw;
  height: 480px;
  position: absolute;
  top: -100px;
  left: 0;
}

.service-others {
  height: 573px;
  position: relative;
  background-image: url("../img/service-others-back.jpg");
  background-size: contain;
  background-position: top left;
  background-repeat: no-repeat;
  padding-top: 260px;
  padding-right: 140px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (min-width: 1280px) {
  .service-others {
    padding-right: calc(50vw - 500px);
  }
}

.service-others p {
  font-size: 16px;
  text-align: right;
}

@media screen and (max-width: 1000px) {
  .section-head h2 {
    font-size: 34px;
  }
  .service-insurance {
    background-size: 60%;
    padding-top: 220px;
    margin-bottom: 100px;
  }
  .insurance-content {
    padding: 0 40px;
  }
  .insurance-text {
    font-size: 15px;
    line-height: 1.7em;
  }
  .others-shape img {
    width: 100vw;
    height: 280px;
    position: absolute;
    top: -36px;
  }
  .service-others {
    height: auto;
    background-size: 80%;
    padding-right: 40px;
    padding-bottom: 100px;
    padding-top: 180px;
  }
  .service-others p {
    font-size: 15px;
  }
}

@media screen and (max-width: 767px) {
  .section-head h2 {
    font-size: 30px;
  }
  .section-head span {
    font-size: 14px;
  }
  .service-insurance {
    background-image: url("../img/service-back-sp.jpg");
    background-size: 100%;
    background-position: top;
    margin-top: -48px;
    margin-bottom: 60px;
    padding-top: 240px;
  }
  .insurance-content {
    padding: 0 20px;
  }
  .insurance-text {
    font-size: 13px;
    line-height: 26px;
  }
  .others-shape img {
    width: 100vw;
    height: 135px;
    position: absolute;
    top: -36px;
  }
  .service-others {
    background-image: url("../img/service-others-back-sp.jpg");
    background-size: 100%;
    background-position: top;
    height: auto;
    padding-top: 70vw;
    padding-bottom: 100px;
    padding-right: 20px;
  }
  .service-others p {
    font-size: 13px;
    text-align: right;
  }
}
/*# sourceMappingURL=service.css.map */